@model TheBookSummary.Web.ViewModels.Book.BookViewModel
@using System.Globalization
@using TheBookSummary.Web.ViewModels.Comments
@using TheBookSummary.Web.ViewModels.Rating

<div>
    <h4>@Html.DisplayFor(model => model.BookName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Summary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary.FullSummary))
        </dd>
        <dt class="col-sm-2">
            Rate
        </dt>
        <div class="col-sm-10">
            @{
                await this.Html.RenderPartialAsync("RatingPartial", new RatingInputModel() { BookId = Model.Id });
            }
        </div>
        <dt class="col-sm-2">
            Overall rating
        </dt>
        <div class="col-sm-10">
            @* rating partial view *@
            @{
                await this.Html.RenderPartialAsync("RatingsView");
            }
        </div>
        <div id="rateYo"></div>
    </dl>
</div>
@{
if (Model.Comments.Count == 0)
{
    <div>
        <h5>No Comments</h5>
    </div>
}
}
@foreach (CommentViewModel comment in Model.Comments)
{
    <div class="comment-section">
        <div class="comment">
            <div class="username">@comment.Username</div>
            <div class="content">@comment.Text</div>
        </div>
    </div>
}
<div>
    @{
        await this.Html.RenderPartialAsync("CommentInputForm", new CommentInputModel() { BookId = Model.Id });
    }
</div>
<div>
    @* <a asp-action="Discussion" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

    <script>
        $(function () {
         
          $("#rateYo").rateYo( {
              rating: @ViewBag.averageRating.ToString(CultureInfo.InvariantCulture),
              readOnly: true,
          });
         
        });
    </script>

    <script>
        $(function () {
         
          $("#rateYoRating").rateYo( {
              fullStar: true,
              maxValue: 10,
              onChange: function (rating, rateYoInstance)
                {
                    $(this).next().text(rating);
                },
              onSet: function (rating, rateYoInstance)
                {
                    $("input[type= 'radio']").prop("checked", true);
                    $("#star").val(rating);
                    $("#RatingsForm").submit();    
                }
          });
         
        });
    </script>
}
