@using TheBookSummary.Web.ViewModels.Book

@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary.ShortSummary)
            </th>
             <th>
                 @Html.DisplayNameFor(model => model.Summary.FullSummary)
             </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var book in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Summary.ShortSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Summary.FullSummary)
            </td>
            @if (book.StarsRating != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => book.StarsRating)
                </td>
            }
    </tr>
}
    </tbody>
</table> 
