@using TheBookSummary.Web.ViewModels.Book

@model IEnumerable<BookViewModel>

<head>
	    <link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true"/>
</head>
<h1>Summaries</h1>
@foreach (var book in Model) {
    <section>
        <div class="card-container">
            <div class="card">
                <div class="card-front">
                    <h2 class="d-flex align-self-end">@Html.DisplayFor(modelItem => book.BookName)</h2>
                </div>
                <div class="card-back">
                    <p>@Html.DisplayFor(modelItem => book.Summary.ShortSummary)</p>
                    <a class="btn btn-outline-light" >View Summary</a>
                </div>
            </div>
        </div>
    </section>
    @*     <tr> *@
    @*         <td> *@
    @*             @Html.DisplayFor(modelItem => book.BookName) *@
    @*         </td> *@
    @*         <td> *@
    @*             @Html.DisplayFor(modelItem => book.Summary.ShortSummary) *@
    @*         </td> *@
    @*         <td> *@
    @*             @Html.DisplayFor(modelItem => book.Summary.FullSummary) *@
    @*         </td> *@
    @*         @if (book.StarsRating != null) *@
    @*         { *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => book.StarsRating) *@
    @*             </td> *@
    @*         } *@
    @* </tr> *@
}
